@media (min-width: 1200px) {

}

@media (max-width: 1199px) {
	.slick-arrow.slick-prev {
		opacity: 0;
		visibility: hidden;
	}
	.slick-arrow.slick-next {
		opacity: 0;
		visibility: hidden;
	}
}
 

@media (max-width: 1024px) {
	body {
		font-size: 18px;
	}
	.header {
		background: #2F2B2B;
		padding: 20px 0;
	}
	.header__nav {
		display: none;
	}
	.header__nav .nav__link:after {
		display: none;
	}
	.header__logo {}
	.toggles {
		display: block;
	}
	.toggles:after {
		content: '';
		position: absolute;
		top: -10px;
		bottom: -10px;
		left: 0;
		right: 0;
		z-index: 0;
	}
	.nav__link {
		font-size: 24px;
	}
	.container {
		padding: 0 15px;
	}
	.intro {
		padding-top: 120px;
		padding-bottom: 40px;
	}
	.intro__suptitle {
		font-size: 44px;
		margin-bottom: 20px;
	}
	.intro__title {
		width: 100%;
		height: 84px;
		margin-bottom: 40px;
	}
	.intro__title-img {
		width: 100%;
	}
	.intro__play-line {
		margin-bottom: 60px;
	}
	.intro__news {
		justify-content: space-between;
	}
	.intro-news__item {
		margin-bottom: 30px;
		flex-basis: 48%;
		max-width: 48%;
	}
	.intro-news__item:last-child {
		margin-bottom: 0;
	}
	.card:hover>.card__img {
	transform: scale(1);
	}
	.intro__news {
		position: relative;
		margin: 0;
	}
	.intro__card {
		min-height: 250px;
	}
	.intro__card .card__link {
		font-size: 18px;
	}
	.about-us {
		padding: 40px 0;
	}
	.about-us__row .row__col {
		flex-basis: 100%;
		max-width: 100%;
	}
	.about-us__row .row__col:last-child {
		order: -1;
		margin-bottom: 20px;
	}
	.about-us-collection__item {
		flex-basis: 100%;
		max-width: 100%;
	}
	.about-us-collection__item:nth-child(odd) {
		margin-right: 0;
	}
	.about-us-collection__item:not(:last-child) {
		margin-bottom: 20px !important;
	}
	.about-us-item__info>p {
		font-size: 16px;
	}
	.about-us-collection__title {
		font-size: 24px;
	}
	.about-us-item__title {
		font-size: 34px;
		margin-bottom: 20px;
	}
	.quote {
		padding: 40px 0;
	}
	.track-list {
		padding: 40px 0;
	}
	.track-list__container {
		max-width: 100%;
		justify-content: center;
		flex-wrap: wrap;
	}
	.track-list__img-body {
		min-height: 510px;
		order: -1;
		margin-right: 0;
		margin-bottom: 40px;
	}
	.track-list__tracks {
		margin-bottom: 40px;
	}
	.track-list__content {
		max-width: 100%;
		flex-basis: 100%;
	}
	.track-list__social {
		justify-content: flex-start;
	}
	.play-line__btn {
		margin-right: 20px;
	}
	.play-line__time {
		margin: 0 0 0 20px;
	}
	.galerry {
		padding: 40px 0;
	}
	.quote__content {
		padding: 30px 20px 20px;
	}
	.quote__content-text {
		font-size: 24px;
	}
	.quote__content-link {
		font-size: 28px;
	}
	.quote__content {
		flex-basis: 100%;
		max-width: 100%;
	}
	.quote__picture {
		display: none;
	}
	.track-list__title {
		font-size: 34px;
		margin-bottom: 40px;
	}
	.tracks__item span:first-child {
		font-size: 20px;
	}
	.tracks__item span{
		font-size: 18px;
	}
	.galerry__list {
		flex-wrap: wrap;
	}
	.galerry-list__card:after {
		opacity: .8;
		visibility: visible;
	}
	.galerry-list__card .galerry-list__link {
		opacity: 1;
		font-size: 40px;
	}
	.galerry-list__card:after {
		display: none;
	}
	.galerry-list__link {
		opacity: 1;
		color: #fff;
	}
	.slide-card__description-suptitle {
		font-size: 20px;
	}
	.slide-card__description-title {
		font-size: 24px;
	}
	.slide-card__description {
		padding: 0 20px;
	}
	.slide-card__bottom {
		padding-left: 20px;
	}
	.slide-card__bottom-btn {
		font-size: 24px;
	}
	.footer__social {
		margin: 20px auto 40px;
	}
	.footer-social__row {
		margin-bottom: -20px;
	}
	.galerry__row {
		margin: 0 -10px;
	}
	.galerry__row .row__col {
		padding: 0 10px;
		margin-bottom: 0;
	}
	.galerry__row .row__wrap .row__col:not(:last-child) {
		margin-bottom: 20px;
	}
	.galerry__row .row__wrap {
		margin: 0 -10px;
  }
	.galerry__link {
		opacity: 1;
		color: #fff;
	}
	.galerry__card:after {
		opacity: .3;
		visibility: visible;
		z-index: 0;
	}
	.galerry__row .row__col--3 {
		flex-basis: 25%;
		max-width: 25%;
	}
	.galerry__row .row__col--6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	.tickets {
		padding: 40px 0 60px;
	}
	.footer__contact {
		margin-bottom: 0 auto 20px !important;
	}
	.about-us__picture {
		margin: 0;
	}
}


@media (max-width: 767px) {
	.row__col {
		flex: 0 1 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	.intro__row {
		justify-content: center;
	}
	.intro__row .row__col {
		margin-bottom: 40px;
	}
	.intro__row .card {
		min-height: 350px;
	}
	.intro__suptitle {
		font-size: 34px;
		margin-bottom: 20px;
	}
	.intro__title {
		width: 100%;
		height: 64px;
	}
	.galerry__row .row__col--3 {
		flex-basis: 50%;
		max-width: 50%;
		height: 400px;
		margin-bottom: 20px;
	}
	.galerry__row .row__wrap {
		height: 400px;
	}
	.galerry__row>.row__col--6 {
		flex-basis: 100%;
		max-width: 100%;
	}
	.galerry__row > .row__col:nth-child(1) {
		order: 1;
	}
	.galerry__row > .row__col:nth-child(2) {
		order: 3;
	}
	.galerry__row > .row__col:nth-child(3) {
		order: 2;
	}
	.footer-contact__item {
		width: initial;
	}
	.footer-contact__item>span:first-child{
		white-space: nowrap;
		margin-right: 30px;
		flex: 0 0 auto;
		max-width: initial;
	}
	.footer-social__list {
		flex-wrap: wrap;
		margin-bottom: -20px;
	}
	.footer-social__item {
		margin-bottom: 20px;
	}
	.footer span {
		font-size: 14px;
	}
	.footer__logo {
		margin-bottom: 20px;
	}
}

@media (max-width: 480px) {
	.footer-contact__item>span:first-child{
		white-space: normal;
		margin-right: 0px;
	}
	.footer-contact__item {
		text-align: center;
		flex-direction: column;
		align-items: center;
	}
	.footer-contact__item span {
		text-align: center;
	}
	.about-us__bg-img--back {
		display: none;
	}
	.about-us__picture {
		min-height: 400px;
	}
	.about-us__bg-img {
		object-fit: cover;
	}
	.track-list__img-body {
		min-height: 340px;
	}
}

@media (max-width: 350px) {
	.about-us__picture {
		min-height: 320px;
	}
}
